@{
    ViewData["Title"] = "Товар";
}
<style>
    table {
        width: 100%;
    }
    table, td {
        border: 1px solid black;
        text-align: center;
    }
</style>

<table>
    <tr>
        <td width="20%">
            <img src="/images/box1.jpg" width="300" height="250" />
        </td>
        <td width ="80%">
            Товар в наличии.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            ООООООООООООООООООООООООООООООООООООООООООООООООООООООООчень длинное описание товарааааааааааааааааааааааааааааааааааааа
        </td>
    </tr>
</table>
